
.tittle-section{
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: clamp(1.4rem, 4vw, 2rem);
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}
/* Estructura del catalogo */
  .catalogo-section-component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: .5rem .25rem;
    gap:  .5rem .25rem;
    background-color: white;
  }
  /* ficha */
  .arbol-catalogo-element {
    max-width: 250px;
    width: 100%;
    display: grid;
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid rgb(184, 184, 184, 0.4);
    text-decoration: none;
  }
  
  .arbol-catalogo-element:active {
    border: 2px solid var(--colorprincipal);
  }
  /* imagen ficha */
 
  .arbol-catalogo-element .imagen-catalogo {
    
    min-width: 150px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: lightgray;
  }
  
  .arbol-catalogo-element .arbol-info {
    display: grid;
    padding: 0.2rem;
  }
  .arbol-catalogo-element .arbol-info span {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: .5rem .25rem;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
  }
  .arbol-catalogo-element .arbol-info span svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }

  .arbol-info .arbol {
    color: var(--colorprincipal);
    font-size: 1.1rem;
  }
  .arbol-info .lugar {
    color: rgba(49, 49, 49, 1);
    font-size: 0.8rem;
  }
  .arbol-catalogo-element .arbol-info h3 {
    font-size: 0.9rem;
    line-height: 0.9rem;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--colorprincipal);
  }
  .arbol-catalogo-element .arbol-info h4 {
    font-size: 0.9rem;
    font-weight: 0.9rem;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    font-weight: 500;
  }

  @media screen and (max-width: 480px) {
    .arbol-catalogo-element .imagen-catalogo{
      height:  266px;
    }
  }
  @media screen and (max-width: 400px) {
    .arbol-catalogo-element .imagen-catalogo{
      height:  200px;
    }
  }

  @media screen and (min-width: 700px ) {
    .catalogo-section-component{
      width: 90vw;
      max-width: 900px;
      grid-template-columns: repeat(3, 1fr);
    }
    .arbol-catalogo-element{
      max-width: 300px;
    }
      .arbol-catalogo-element .imagen-catalogo{
        height: 260px;
      }
  }
  @media screen and (min-width: 820px) {
    .arbol-catalogo-element .imagen-catalogo{
      height: 400px;
    }
  }