.container-ficha-tecnica{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(155, 155, 155, .8);
    backdrop-filter: blur(2px);
    z-index: 2;
}

.container-ficha-tecnica .ficha-tecnica{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: auto;
    height: 95vh;
    max-width: 95%;
    overflow-x: hidden;
    background-color: white;
    /* border-top: .5rem solid var(--colorsecundario); */
    border-bottom: .75rem solid white;
    border-radius: 5px;
}

.ficha-tecnica .head-ficha-tecnica{
    position: sticky;
    padding: .25rem;
    top: 0;
    background-color: var(--colorsecundario);
    z-index: 2;
}
.ficha-tecnica .cerrar-ficha-tecnica{
    position: absolute;
    right: .25rem;
    top: .25rem;
    font-size: 1.3rem;
    width: 20px;
    height: 20px;
    padding: .1rem;
    background-color: lightgray;
    border-radius: 3px;
}
.ficha-tecnica h2{
    font-size: 1.3rem;
    margin-bottom: .25rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    width: calc(100% - 40px);
    color: white;
}
.ficha-tecnica p{
    padding: 0 .75rem;
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
}
/* Caracteristicas tecnicas */

.caracteristicas-tecnicas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    .caracteristicas-tecnicas h3{
        width: 100%;
        background-color: var(--colorsecundario);
        color: white;
        text-align: center;
    }