.container-ficha-tecnica {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 0.8);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.container-ficha-tecnica .ficha-tecnica {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
  margin: auto;
  max-height: 100vh;
  width: 90%;
  max-width: 900px;
  overflow-x: hidden;
  background-color: var(--colorclaro2);
  animation: aparicionForm .2s linear;
}
/* CABECERA*/
.cabecera-ficha-tecnica {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  top: 0px;
  height: fit-content;
  background-color: var(--colorprincipal);
  z-index: 2;
}
.ficha-tecnica .cerrar-ficha-tecnica {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorclaro);
  top: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: red;
  border-radius: 50%;
}
.ficha-tecnica h2 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
  width: calc(100% - 25px);
  padding: 0.25rem;
  color: var(--colorclaro);
}

/* titulo caracteristicas */
.line-ficha-tecnica {
  margin: 15px auto;
  width: 90%;
  height: 0.2rem;
  border: none;
  background-color: var(--colorprincipal2);
}

.ficha-tecnica .h2-ficha-tecnica {
  color: var(--coloroscuro);
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top: 10px;
  

}

/* Caracteristicas tecnicas */

.caracteristicas-ficha-tecnica {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding: 0 1rem;
  line-height: 1.5rem;
  margin-top: 10px;
  color: var(--coloroscuro)
}
.caracteristicas-ficha-tecnica div {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 1rem;
}
.subtitle-caracteristica {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  
}

.subtitle-caracteristica svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.subtitle-caracteristica h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: .9rem;
}

/* Descripcion */
.descripcion-ficha-tecnica h3, .caracteristicas-ficha-tecnica h3{
  text-align: center;
  font-weight: 800;
  font-size: 1.1rem;
  color: var(--coloroscuro)
}

.descripcion-ficha-tecnica p {
  padding: 0.5rem 1rem;
  text-align: justify;
  font-size: 1.1rem;
  line-height:1.5;
  white-space: pre-line;
  text-indent: 10px;
  color: var(--coloroscuro)
}

@media screen and (min-width: 700px) {
    .container-ficha-tecnica .ficha-tecnica{
        width: 90%;
        max-height: 90vh;
        border-radius: 5px;
        box-shadow: 3px 2px 7px lightgray;
    }
}


@keyframes aparicionForm {
  0%{
      width: 0;
      opacity: 0;
  }
  100%{
      width: 100%;
      opacity: 1;
  }
}

.mapa-global{
  padding: 15px;
}