.template-ajustes{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}
    .template-title{
        padding: .25rem .5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        color: var(--colorprincipal);
        font-weight: 600;
    }
.version{
    margin: .5rem;
    font-size: .9rem;
    color: var(--coloroscuro);
    text-align: center;
}