/* CARRUSEL */
.carrusel {
  position: relative;
  width: 100%;
  height: 400px;
}
/*Zona de imágenes*/
.carrusel-images-galery {
  height: 100%;
  width: 100%;
}
.carrusel .carrusel-images-galery li {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 248, 248);
}
/*Por defecto los li tienen una opacidad de 0*/
.carrusel li.carrusel-image {
  opacity: 0;
}
/*Elemento li que se mostrará*/
.carrusel li.carruselmostrado {
  opacity: 1;
}
/*Etiqueta img*/
.carrusel__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: var(--colorprincipal);
}

/* Botones avance/retroceso carrusel  */
.carrusel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--colorterciario);
  opacity: 1;
}
.carrusel__button--prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
 
  transition: all .3s linear;
}
.carrusel__button--prev:hover {
    background: rgb(186,186,186);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 7%, rgba(255,255,255,0) 100%);
    color: white;
}
.carrusel__button--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition:  all .3s linear;
}
.carrusel__button--next:hover{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.5) 93%);
color: white;
}
.carrusel__button i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorprincipal);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  margin: clamp(0.5rem, 6vw, 4rem);
}

/* Indicador de posicion */
.carrusel .position {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.carrusel .position__item {
  font-size: .9rem;
  color: white;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.posicionado {
    color: white;
    background-color: white;
  
    font-size: .9rem;
    border-radius: 50%;
    transition: all ease-in-out 0.2s;
  }

@media screen and (max-width: 900px) {
    .carrusel{
        height: calc(100vh - (43px + 40px + 102px));
    }
    .carrusel__button--prev:active {
      background: rgb(186,186,186);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 7%, rgba(255,255,255,0) 100%);
      color: white;
  }
    .carrusel__button--next:active{
      background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.5) 93%);
  color: white;
  }
}


