.entidades-title{
    padding: .25rem .5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--colorprincipal);
    font-weight: 600;
}

.component-entidades-promotoras{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: max-content;
    width: 95%;
    gap: .5rem;
    margin: auto;
    max-width: 900px;
    background-color: rgba(200,200,200, .8);
    padding: .5rem;
    border-radius: 5px;
}

.component-entidades-promotoras .img-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: .5rem;
}

.component-entidades-promotoras img{
    width: 100%;
    max-width: 200px;
}