.component-explora{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 1rem 0;
    height: fit-content;
}

.explora-titulo {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--colorprincipal);
  font-weight: 900;
}
.explora-descripcion {
padding: .5rem 1rem;
  width: fit-content;
  text-align: left;
  margin: auto;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 1.5px;
  color: black;
  font-weight: 500;
  max-width: 1080px;
}

.container-explora {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-self: center;
  width: fit-content;
  max-width: 1080px;
  margin: auto;
  overflow: hidden;
  gap: 0.25rem;
  padding: 0.25rem;
  margin: auto;
}

.container-explora a {
  display: flex;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.container-explora a img {
  width: inherit;
  object-fit: cover;
  position: relative;
}
.container-explora a h3{
    position: absolute;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-transform: uppercase;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-weight: 700;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    transition: all .3s linear;
}

.container-explora a:hover h3{
    background-color: rgba(97,214,142, .7);
    backdrop-filter: blur(3px);
}


@media screen and (min-width: 400px) {
  .container-explora a {
    height: 210px;
  }
}

@media screen and (min-width: 650px) {
  .explora-descripcion{
    font-size: 1.2rem;
  }
    .container-explora a {
    height: 322px;
  }

}
@media screen and (min-width: 850px) {
  .component-explora{
    min-height: 1080px;
  }
  .container-explora a {
    height: 423px;
  }
}

@media screen and (min-width: 1250px) {
    .explora-descripcion{
        padding: .5rem .25rem;
    }
}
