/* Notificacion arbore publicada correctamente */
.succes-public{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 6;
    background-color: rgba(200,200,200, .5);
    backdrop-filter: blur(3px);
    width: 100%;
    height: calc(100vh - 40px);
}
.alert-succes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    height: 80%;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}
.cargando{
    font-size: 1.3rem;
    font-weight: 600;
}
.exito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .succes-public .txt{
        display: flex;
        font-size: 1.4rem;
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        text-align: center;
    }
    .btn-succes{
    margin: .5rem auto;
    width: 250px;
    text-align: center;
    height: fit-content;
    border-radius: 2px;
    padding: .5rem 1rem;
    background-color: var(--colorprincipal);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    }

.form-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    height: calc(100vh - 43px);
    background-color: rgba(200,200,200, .5);
    backdrop-filter: blur(5px);
    z-index: 2;
}

#senlleiras{
    position: relative;
    width: 100%;
    top: 0;
    max-width: 600px;
    height: fit-content;
    max-height: calc(100vh - 43px);
    margin: auto;
    z-index: 5;
    /* border: 2px solid rgba(205,205,205, .4); */
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    overflow-x: hidden;
    animation: aparicionForm .3s linear;
}
/* Cabecera */
.h2-background{
    position: sticky;
    background-color: var(--colorprincipal2);
    width: 100%;
    max-width: 600px;
    top: 0;
    height: 40px;
    z-index: 1;
}
#senlleiras .h2-background h2{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%) scaleY(1.5);
    padding: 0 1rem;
    width: auto;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: var(--colorclaro);
}
    #senlleiras .h2-background a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--colorclaro);
        position: absolute;
        top: 50%;
        right: 0%;
        width: 25px;
        height: 25px;
        margin-right: .5rem;
        transform: translate(0, -50%);
        cursor: pointer;
        background-color: red;
        border-radius: 50%;
    }
    #senlleiras .h2-background a svg{
        width: 25px;
        height: 25px;
        padding: 0;
    }

/* Diseño estructura formulario */
fieldset{
    margin: 0 .5rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: rgba(200,200,200, 1);
}
legend{
    padding: .5rem;
    margin-left: .1rem;
    border-radius: 5px;
    background-color: var(--colorprincipal);
    color: var(--colorclaro)
}
label{
    font-weight: 600;
}
.required-user{
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
}


textarea{
    resize: none;
}

.senlleira-nombre-cientifico, .senlleira-localizacion{
    display: grid;
    grid-template-columns: auto;
    gap: .4rem;
}

input[type="text"], select, input[type="number"]{
    width: 100%;
    font-size: 1.1rem;
    border-radius: 3px;
    border: none;
    padding: .1rem .25rem;
}
    input[type="text"]:focus, input[type="number"]:focus, select:focus{
        outline-color:var(--colorprincipal);
    }


/* Boton submit */
.btn-form{
    width: fit-content;
    height: fit-content;
    margin: .5rem auto;
    background-color: var(--colorprincipal2);
    color: var(--colorclaro);
    border: none;
    font-size: 1.2rem;
    padding: .25rem .5rem;
    border-radius: 5px;
}

@keyframes aparicionForm {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}

@media screen and (min-width:600px) {
    #senlleiras{
        border-radius: 5px;
    }
}
