/* CATALOGO ARBOLES  */
.catalogo-especies-section {
    user-select: none;
}

.catalogo-especies-section h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: var(--titulosize);

}

.catalogo-arboles-app {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    max-width: 90%;
}
@media screen and (min-width:400px) {
    .catalogo-arboles-app {
        grid-template-columns: repeat(3, 125px);
        grid-template-rows: repeat(3, 125px);
    }
}

@media screen and (min-width:450px) {
    .catalogo-arboles-app {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(3, 150px);
    }
}
@media screen and (min-width:600px) {
    .catalogo-arboles-app {
        grid-template-columns: repeat(3, 190px);
        grid-template-rows: repeat(3, 190px);
    }
}
@media screen and (min-width:800px) {
    .catalogo-arboles-app {
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(3, 250px);
    }
}
@media screen and (min-width:1080px) {
    .catalogo-arboles-app {
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(3, 360px);
    }
}



/* Tarjeta de los arboles individual */
.arboles-card {
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    overflow: hidden;
}

.arboles-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.arboles-front,
.arboles-back {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.arboles-front img,
.arboles-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arboles-back {
    transform: rotateY(180deg);

}

/* ANIMACIONES   */

/* Tarjeta deslizamiento vertical */

.verticalMovement .arboles-inner {
    transform: translateY(-100%);
}

.animation-vertical .arboles-inner .arboles-back {
    transform: translateY(100%);
}

/* Tarjeta deslizamiento horizontal */

.horizontalMovement .arboles-inner {
    transform: translateX(-100%);
}

.animation-horizontal .arboles-inner .arboles-back {
    transform: translateX(100%);
}

/* Tarjeta flip horizontal */

.horizontalFlip .arboles-inner {
    transform: rotateY(180deg);
}

.animation-flip .arboles-inner .arboles-back {
    transform: rotateY(180deg);
}

/* Tarjeta flip vertical */
.verticalFlip .arboles-inner {
    transform: rotateX(180deg);
}

.animation-flip-vertical .arboles-inner .arboles-back {
    transform: rotateX(180deg);
}