.noticia-component{
display: grid;
width: 100%;
max-width: 1080px;
height: calc(100vh - 83px);
margin: auto;
}
.noticia-component img{
    display: none;
}

.noticia-component .noticia-block-txt{
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-rows: 1fr auto auto;
    padding: 1rem 0;
    background-image: url(../../img/imagenes-portada/RAMAS.jpg);
        background-size: cover;
        background-position: center;
}
.noticia-component h1{
    color: white;
    font-size: clamp(2rem, 3vw, 4rem);
    line-height: clamp(1.8rem, 3vw, 3.8rem);
    text-align: center;
    font-weight: 900;
    text-shadow: .5rem .5rem 2rem black, 0 0 5px #0000FF;
    text-transform: uppercase;
}

.noticia-component h3{
    color: white;
    font-size: clamp(1.4rem, 3vw, 3rem);
    line-height: clamp(1.3rem, 3vw, 2.9rem);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.noticia-component a{
    margin: .5rem auto;
    width: 250px;
    text-align: center;
    height: fit-content;
    border-radius: 2px;
    padding: .5rem 1rem;
    background-color: var(--colorprincipal);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}


@media screen and (min-width:700px) {
    .noticia-component{
        margin: 2rem auto;
        display: grid;
        grid-template-columns: auto 1fr;
        height: 600px;
        gap: .5rem;
    }
    .noticia-component img{
        display: initial;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
    .noticia-component .noticia-block-txt{
        
        width: 400px;
        height: 100%;
    }
    .noticia-block-txt h1{
        font-size: 2rem;
        line-height: 2rem;
    }
    .noticia-block-txt h3{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}

@media screen and (min-width:900px) {
    .noticia-component img{
        object-fit: initial;
    }
}

