.container-participa{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-image: url(../../gallery/senlleiras_16.jpg);
    background-position: center;
    background-size: fill;
    padding:  .5rem 1rem;
    min-height: fit-content;
    height: calc(100vh - 80px);
    max-height: 600px;
}
    .container-participa::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(200,200,200, .3);
        backdrop-filter: blur(2px);
    }

.call-to-action-senlleira{
    display: grid;
    grid-template-columns: auto;
    gap: 1rem
}


.logo-santiago{
    width: 180px;
    margin: auto;
}
/* Texto de llamada */
    .call-to-action-senlleira{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .call-to-action-senlleira h1{
        text-align: center;
        font-size: 2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
        font-weight: 900;
    }
    .call-to-action-senlleira p{
        width: fit-content;
        text-align: left;
        margin: auto;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: 1.5px;
        color: white;
        font-weight: 400;
    }
    /* Boton */
    .container-participa a{
        margin: 2rem auto;
        width: 250px;
        text-align: center;
        height: fit-content;
        border-radius: 2px;
        padding: .5rem 1rem;
        background-color: var(--colorprincipal);
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
    }

    @media screen and (min-width: 900px) {
        .container-participa{
            grid-template-columns: 1fr 1fr;
            max-width: 1080px;
            padding: 2rem 4rem;
            margin: auto;
        }
            .container-participa::before{
                display: none;
            }
        .call-to-action-senlleira{
            padding: 2rem 1rem;
            border-radius: 5px;
            background-color: rgba(200,200,200, .6);
            backdrop-filter: blur(2px);
            max-width: 400px;
            box-shadow: 5px 5px 10px white;
        }
        .call-to-action-senlleira h1{
            font-size: 2.6rem;
        }
        .call-to-action-senlleira p{
            text-align: center;
        }
    }
    
    
    