@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

:root{
    --colorprincipal: rgba(97,214,142);
    --colorprincipal2: rgba(43,187,154);
    --colorprincipal3: rgba(14,173,159);
    --colorsecundario: green;
    --colorterciario: rgb(50,50,50);
    --colorclaro: rgba(255,255,255, 1);
}

#app{
  font-family: montserrat;   
  min-height: calc( 100vh - 50px);
  margin-bottom: 50px;
}