@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

:root{
    --colorprincipal: rgba(97,214,142);
    --colorprincipal2: rgba(43,187,154);
    --colorprincipal3: rgba(14,173,159);
    --colorterciario: rgb(50,50,50);

    --colorclaro: rgba(255,255,255, 1);
    --coloroscuro: rgba(0,0,0, 1);
    --colorclaro2: rgba(255,255,255,1)
}

  :root.dark{
    --colorprincipal: rgba(97,214,142);
    --colorprincipal2: rgba(43,187,154);
    --colorprincipal3: rgba(14,173,159);
    --colorterciario: rgb(50,50,50);
    --colorclaro: rgb(37, 37, 37);
    --colorclaro2: rgb(88, 88, 88);
    --coloroscuro: rgba(255,255,255, 1);
  }
  


body{
  background-color: var(--colorclaro);
}

#app{
  font-family: montserrat;   
  /* min-height: calc( 100vh - 50px); */
  margin-bottom: 44px;
}