 .stories-navigator::-webkit-scrollbar{
  display: none;
}

  .componente-stories{
    margin: .4rem 0;
    padding: .4rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    margin: auto;

  }

  .componente-stories .tittle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 1rem;
    font-weight: 700;
  }
    .componente-stories .tittle svg{
      color: green;
      font-size: 1.2rem;
    }

    /*Elementos  */
  .stories-navigator {
    width: 100%;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: .5rem;
    padding: .5rem 0;
    overflow-x: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    align-items: center;
  }
  
  .component-arbol {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    width: 140px;
    height: 200px;
    gap: .1rem;
    text-decoration: none;
    background-color: green;
  }
  .component-arbol:nth-child(1){
    margin-left: 1rem;
  }
  .component-arbol:last-child{
    margin-right: 1rem;
  }
  
  
  .stories-navigator .component-arbol img {
    margin: auto;
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: relative;
    background-color: green;
  }
  
  
  .stories-navigator .arbol-name {
    position: absolute;
    bottom: 0;
    width: inherit;
    padding: .25rem;
    font-size: .9rem;
    line-height: .9rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    background-color: rgba(48, 46, 46,.5);
    font-weight: 900;
  }

  .borde-final{
    z-index: 999;
   width: 1px;
   height: 180px;
  }

  @media screen and (min-width:400px) {
    .component-arbol{
      width: 170px;
      height: 280px;
    }
  }
  @media screen and (min-width:900px) {
    /* Diseño scrollbar */
    .stories-navigator::-webkit-scrollbar{
      display: initial;
    }
    .stories-navigator::-webkit-scrollbar-track{
     background: rgba(200, 200, 200, .5);
    }
    .stories-navigator::-webkit-scrollbar-thumb{
      background: var(--colorprincipal);
      border-radius: 5px;
     }
    .stories-navigator{
      gap: 1rem;
    }
    .component-arbol{
      width: 290px;
      height: 460px;
    }
    .stories-navigator .arbol-name{
      padding: 1rem .5rem;
      font-size: 1.4rem;
    }
    .component-arbol:nth-child(1){
      margin-left: 0;
    }
    .component-arbol:last-child{
      margin-right: 0;
    }
  }

