::-webkit-scrollbar {
    display: none;
  }

  .componente-stories{
    margin: .4rem 0;
    padding: .4rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);
  }

  .componente-stories .tittle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 1rem;
    font-weight: 700;
  }
    .componente-stories .tittle svg{
      color: green;
      font-size: 1.2rem;
    }

    /*Elementos  */
  .stories-navigator {
    width: 100%;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: .5rem;
    padding: .5rem 0;
    overflow: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    align-items: center;
  }
  
  .component-arbol {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    width: 140px;
    height: 200px;
    gap: .1rem;
    text-decoration: none;
    background-color: green;
  }
  .component-arbol:nth-child(1){
    margin-left: 1rem;
  }
  .component-arbol:last-child{
    margin-right: 1rem;
  }
  
  
  .stories-navigator .component-arbol img {
    margin: auto;
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: relative;
    background-color: green;
  }
  
  
  .stories-navigator .arbol-name {
    position: absolute;
    top: 80%;
    width: inherit;
    padding: .25rem;
    font-size: .9rem;
    line-height: .9rem;
    text-align: center;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    color: white;
    font-weight: 900;
  }

  .borde-final{
    z-index: 999;
   width: 1px;
   height: 180px;
  }