.container-galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    width: 90%;
    margin: auto;
    max-width: 900px;
}

.skeleton-especie{
    width: 100%;
    animation: backgroundAnimation 2s infinite alternate;
    border-radius: 5px;
    padding: .5rem;
    max-width: 200px
    
}

@keyframes backgroundAnimation {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

@media screen and (min-width:420px) {
    .container-galeria{
        grid-template-columns: repeat(3, 1fr);
    } 
}
@media screen and (min-width:620px) {
    .container-galeria{
        grid-template-columns: repeat(4, 1fr);
    } 
}
@media screen and (min-width:670px) {
    .container-galeria{
        grid-template-columns: repeat(5, 1fr);
    } 
}