.skeleton-square{
    width: 100%;
    height: 190px;
    background-color: white;
    border-radius: 5px;
}

.skeleton-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}

.skeleton-h1{
    width: 80%;
    height: 1.3rem;
    border-radius: 5px;
    background-color: white;
    margin: .25rem 0;
}
.skeleton-h2{
    width: 80%;
    height: 1.2rem;
    border-radius: 5px;
    background-color: white;
    margin: .25rem 0;
}
.skeleton-h3{
    width: 90%;
    height: 1.1rem;
    border-radius: 5px;
    background-color: white;
    margin: .25rem 0;
}
.skeleton-p{
    width: 100%;
    height: 1rem;
    border-radius: 5px;
    background-color: white;
    margin: .25rem 0;
}
.skeleton-p:last-child{
    width: 60%;
}