
/* Container-galeria */
.container-galeria{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2 , minmax(140px, 1fr));
    margin: auto;
    gap: .5rem;
    background-color: var(--colorclaro);
    max-width: 900px;
}
/* Ficha tecnica */
.skeleton-ficha-tecnica{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    background-color: lightgray;
    padding: .25rem;
    border-radius: 5px;
    width: auto;
    min-width: 140px;
    height: fit-content;
    /* max-width: 220px; */
    animation: backgroundAnimation 2s infinite alternate;
}
    .ficha-descripcion{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: .25rem;
        width:100%;
    }

@media screen and (min-width: 345px) {
    .container-galeria{
        grid-template-columns: repeat(2, auto);
    }
}
@media screen and (min-width: 400px) {
    .skeleton-square{
        height: 220px;
    }
}
@media screen and (min-width: 500px) {
    .container-galeria{
        justify-content: center;
    }
    .skeleton-ficha-tecnica{
        min-width: 230px;
        width: 100%;
        max-width: 280px;
    }
    .skeleton-ficha-tecnica .skeleton-square{
        height: 300px;
    }
    
}
@media screen and (min-width: 700px) {
    .container-galeria{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
    .skeleton-ficha-tecnica{
        min-width: 200px;
        width: 100%;
        max-width: 280px;
    }
}
@media screen and (min-width: 820px) {
    .skeleton-ficha-tecnica .skeleton-square{
        height: 400px;
    }
}

@keyframes backgroundAnimation {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}
