.container-galeria-especie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 90%;
  margin: auto;
  max-width: 900px;
}

.skeleton-especie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  min-width: 130px;
  height: 104px;
  animation: backgroundAnimation 2s infinite alternate;
  border-radius: 5px;
  padding: 0.5rem;
}
.skeleton-especie .skeleton-h2{
    margin-bottom: 1rem;
}

@keyframes backgroundAnimation {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media screen and (min-width: 475px) {
  .container-galeria-especie {
    grid-template-columns: repeat(3, auto);
  }
  .container-galeria-especie .skeleton-especie {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .container-galeria-especie {
    grid-template-columns: repeat(3, auto);
  }
  .container-galeria .skeleton-especie {
    min-width: 160px;
    width: 100%;
    max-width: 240px;
  }
}
@media screen and (min-width: 900px) {
  .container-galeria-especie {
    grid-template-columns: repeat(4, auto);
  }
  .container-galeria-espcie .skeleton-especie {
    width: 200px;
    max-width: 200px;
  }
}
