.skeleton-component-inicio{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--color-claro);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 1080px;
    margin: auto;
}

.skeleton-imagen-grande{
    height: calc(100% - 30px);
    width: calc(100vw - 400px);
    animation: backgroundAnimation 1.5s infinite alternate;
    border-radius: 5px;
    display: none;

}

.skeleton-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: calc(100% - 30px);
    animation: backgroundAnimation 1.5s infinite alternate;
    padding: 1rem;
    border-radius: 5px;
}

.skeleton-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.skeleton-h1{
    margin: 0 auto;
    width: 100%;
    height: 1.3rem;
    border-radius: 5px;
    background-color: white;
    margin: .25rem 0;
}
.skeleton-h1:last-child{
    width: 70%;
    margin: auto;
}
.skeleton-h2{
    margin: 0 auto;
    width: 100%;
    height: 1.2rem;
    border-radius: 5px;
    background-color: white;
    margin: .25rem 0;
}

@keyframes backgroundAnimation {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

@media screen and (min-width: 700px) {
    .skeleton-component-inicio{
        max-height: 600px;
    }
    .skeleton-imagen-grande{
        display: initial;
    }
    .skeleton-img{
        max-width: 400px;
    }
}
